/* .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color:thistle;
    color: white;
  }

  .parallax{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.45)
    ),
    url("../images/img1.jpeg");

    min-height: 1600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

body{
  margin:0;
}
.top{
    background-image: url("../images/img1.jpg");
    margin-top: -19px;
    width: 100%;
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Main{
    color: rgb(255, 65, 31);
    font-size: 5.938rem;
    margin-top: 0;
    padding-left: 65px;
    font-family: 'Ephesis', cursive;

}
h3{
    color: white;
    padding: 70px 0px 0px 20px;
}
.about{
  margin-top: 55px;
}
.heading{
  text-align: center;
  font-size: 3.4375rem;
  font-family: 'Stick No Bills', sans-serif;
  color: rgb(255, 65, 31);

}
.about p{
  width: 70%;
  text-align: center;
  margin-left: 15%;
  font-size: 1.188rem;
  margin-top: -30px;
  word-spacing: 2px;
  letter-spacing: 1.25px;
  color: gray;
}

hr{
  margin-left: 45%;
  width: 10%;
  background-color: red;
  border: none;
  height: 2px;
}
.project {
  width: 20%;
  display: inline-block;
  border-radius: 12px;
  border: 1px solid rgb(202, 200, 200);
  margin-left: 3%;
  height: 350px;
}
.one{
  background-image: url("../images/project1.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  
}
.two{
  background-image: url("../images/project2.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.three{
  background-image: url("../images/project3.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.four{
  background-image: url("../images/project4.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.projects div:hover{
  transition: all 0.6s ease;
  background-size: 125%;
  background-position-x: -30px;
}

.pro-link{
  color: rgb(255, 65, 31);
  margin-top: 70px;
}
.project p{
  padding: 5px;
  text-align: justify;
  letter-spacing: 1.25px;
  color: gray;
}
.link-projects{
  margin-left: 38%;
}

.skills{
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.45)
  ),
  url("../images/HTML-Code.jpg");

  min-height: 640px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.skills .heading{
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.skills img{
  width:30%;
  height: 250px;
  margin: 5px;
}
.skills p{
  color: white;
  text-align: center;
}
.skills div{
  padding-left:  5%;
}

.skills img:hover{
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.45)
  )
}


@media only screen and (max-width: 768px){
  .top{
    width: 100%;
    
}
.Main{
  font-size: 4rem;
  margin-left: 60px;
}
  .project {
    width: 75%;

    margin-left: 12.5%;

  }
  .pro-link{
    margin-top: 110px;
  }
}