/* .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color:thistle;
    color: white;
  }

  .parallax{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.45)
    ),
    url("../images/img1.jpeg");

    min-height: 1600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
.top{
    background-image: url("../images/img1.jpeg");
    margin: -10px;
    margin-top: -19px;
    width: 101.45%;
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.Main{
    color: rgb(255, 65, 31);
    font-size: 80px;
    margin-top: 0;
    padding-left: 65px;
}
h3{
    color: white;
    padding: 70px 0px 0px 20px;
}